<!-- index.html -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Networking</title>
    <meta name="viewport" content="width=device-width">
  </head>
<body>
  <header>
    <img src="" alt="User Photo">
    <h1>GetWorking</h1>
    <nav>
      <ul>
        <li><input type="text" placeholder="Search"></li>
        <li><button class="add-contact-button" disabled>Add Contact</button></li>
        <li><button class="followup-button"><a href="./followup-list.html">Follow-up</a></button></li>
        <li><button class="log-out-button"><a href="./login.html">Log out</a></button></li>
      </ul>
    </nav>
  </header>
  <section class="contact-info">
    <!-- TODO: add photo to each contact -->
    <input type="text" class="first-name" placeholder="First Name">
    <input type="text" class="last-name" placeholder="Last Name">
    <input type="text" class="company" placeholder="Company Name">
    <input type="text" class="job-title" placeholder="Job Title">
    <!-- TODO: add drop down for multiple emails???  -->
    <input type="text" class="email" placeholder="Email">
    <!-- TODO: add drop down for multiple phones???  -->
    <input type="text" class="phone" placeholder="Phone Number">
    <textarea class='new-note' name="notes" placeholder="Notes"></textarea>
    <input type="text" class="linked-in" placeholder="Linked In">
    <input type="text" class="twitter" placeholder="Twitter">
    <input type="text" class="github" placeholder="GitHub">
    <input type="text" class="category" placeholder="Category">
    <input type="checkbox" class="follow-up" value="false">Follow Up
    <button id='submit-note'>add new note</button>

    <ul class='notes'></ul>
  </section>
  <script src="../main.bundle.js"></script>
</body>
</html>
